@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1548px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.hero-bg {
    background-image: url("./assets/images/hero-img.png");
    background-repeat: no-repeat;
    background-position: left;
}